<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="feedback-title">
      <span class="title-span">chocolate</span> is loved
    </h2>
    <ul class="feedback-list">
      <li class="feedback-list-item">
        <img
          srcset="
            ./images/mob/victoria.png      1x,
            ./images/mob2x/victoria@2x.png 2x
          "
          src="./images/mob/victoria.png"
          width="80"
          height="80"
          alt="Victoria Dobrzhanska photo"
          class="feedback-img"
        />
        <div class="feedback-card">
          <h3 class="feedback-card-title">Victoria Dobrzhanska</h3>
          <p class="feedback-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="feedback-list-item">
        <img
          srcset="./images/mob/nazar.png 1x, ./images/mob2x/nazar@2x.png 2x"
          src="./images/mob/nazar.png"
          width="80"
          height="80"
          alt="Nazar Babenko photo"
          class="feedback-img"
        />
        <div class="feedback-card">
          <h3 class="feedback-card-title">Nazar Babenko</h3>
          <p class="feedback-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="feedback-list-item">
        <img
          srcset="./images/mob/olena.png 1x, ./images/mob2x/olena@2x.png 2x"
          src="./images/mob/olena.png"
          width="80"
          height="80"
          alt="Olena Kampusch photo"
          class="feedback-img"
        />
        <div class="feedback-card">
          <h3 class="feedback-card-title">Olena Kampusch</h3>
          <p class="feedback-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <ul class="slider-list">
      <li>
        <button type="button" class="slider-btn current"></button>
      </li>
      <li><button type="button" class="slider-btn"></button></li>
      <li><button type="button" class="slider-btn"></button></li>
    </ul>
    <button
      type="button"
      class="feedback-btn"
      onclick="document.getElementById('backdrop').classList.add('is-open')"
    >
      Leave a review
    </button>
  </div>
</section>
