<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-link">
      <span class="logo-span">SIMPLY</span> CHOCOLATE
      <span class="logo-icon-span">
        <svg class="logo-icon" width="18" height="21">
          <use href="./images/icons.svg#bar"></use>
        </svg>
      </span>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="./index.html" class="nav-link">Home</a></li>
        <li><a href="#recipe" class="nav-link">How it’s made?</a></li>
        <li><a href="#feedback" class="nav-link">Chocolate is loved</a></li>
      </ul>
    </nav>
    <ul class="media-list">
      <li>
        <a href="#" class="media-link">
          <svg class="media-icon" width="22" height="22">
            <use href="./images/icons.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="media-link">
          <svg class="media-icon" width="28" height="24">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="menu-btn"
      onclick="document.getElementById('modal-menu').classList.add('is-open')"
    >
      <svg class="menu-icon" width="24" height="16">
        <use href="./images/icons.svg#burger"></use>
      </svg>
    </button>
  </div>

  <div class="modal-menu" id="modal-menu">
    <div class="menu">
      <button
        type="button"
        class="menu-close-btn"
        onclick="document.getElementById('modal-menu').classList.remove('is-open')"
      >
        <svg width="14" height="14">
          <use href="./images/icons.svg#close"></use>
        </svg>
      </button>
      <nav class="nav-menu">
        <ul class="menu-list">
          <li><a class="menu-link current" href="./index.html">Home</a></li>
          <li>
            <a class="menu-link" href="#recipe">How it’s made?</a>
          </li>
          <li>
            <a class="menu-link" href="#feedback">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <ul class="menu-media-list">
        <li>
          <a href="#" class="menu-media-link">
            <svg class="menu-media-icon" width="20" height="20">
              <use href="./images/icons.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="menu-media-link">
            <svg class="menu-media-icon" width="26" height="22">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
