<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero-wrapper">
      <button type="button" class="hero-btn">Buy now</button>
      <a href="#recipe" class="made-link">How it’s made</a>
      <a href="#footer" class="scroll-link"
        >scroll down
        <div class="mark-container">
          <svg width="16" height="10" class="mark-icon">
            <use href="./images/icons.svg#mark"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
