<section class="ingridients">
  <div class="container">
    <h2 class="ingridients-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="title-span">TASTE</span> SENSATION
    </h2>
    <p class="ingridients-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="ingridients-list">
      <li class="ingridients-list-item">
        <div class="ingridients-wrapper">
          <img
            class="ingridients-img"
            srcset="
              ./images/mob/chocolate-bar.png      1x,
              ./images/mob2x/chocolate-bar@2x.png 2x
            "
            src="./images/mob/chocolate-bar.png"
            alt="chocolate-bar"
            width="224"
            height="171"
          />
          <h3 class="ingridients-item-title">mILK CHOCOLATE</h3>
        </div>
        <div class="card">
          <h3 class="card-title">Milk chocolate</h3>
          <p class="card-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="ingridients-list-item">
        <div class="ingridients-wrapper">
          <img
            class="ingridients-img"
            srcset="./images/mob/milk.png 1x, ./images/mob2x/milk@2x.png 2x"
            src="./images/mob/milk.png"
            alt="bottle of milk"
            width="224"
            height="171"
          />
          <h3 class="ingridients-item-title">Milk</h3>
        </div>
        <div class="card">
          <h3 class="card-title">Milk</h3>
          <p class="card-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="ingridients-list-item">
        <div class="ingridients-wrapper">
          <img
            class="ingridients-img"
            srcset="./images/mob/nuts.png 1x, ./images/mob2x/nuts@2x.png 2x"
            src="./images/mob/nuts.png"
            alt="nuts"
            width="224"
            height="171"
          />
          <h3 class="ingridients-item-title">nuts</h3>
        </div>
        <div class="card">
          <h3 class="card-title">Nuts</h3>
          <p class="card-text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </li>
      <li class="ingridients-list-item">
        <div class="ingridients-wrapper">
          <img
            class="ingridients-img"
            srcset="
              ./images/mob/chocolate.png      1x,
              ./images/mob2x/chocolate@2x.png 2x
            "
            src="./images/mob/chocolate.png"
            alt="chocolate"
            width="224"
            height="171"
          />
          <h3 class="ingridients-item-title">sEMI - SWEET CHOCOLATE</h3>
        </div>
        <div class="card">
          <h3 class="card-title">semi - sweet chocolate</h3>
          <p class="card-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
