<section class="recipe" id="recipe">
  <div class="container recipe-container">
    <h2 class="recipe-title">hOW IT’S <span class="title-span">made?</span></h2>
    <div class="recipe-wrapper">
      <picture class="recipe-img">
        <source
          srcset="
            ./images/desk/video-desk.png      1x,
            ./images/desk2x/video-desk@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/tab/video-tab.png      1x,
            ./images/tab2x/video-tab@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/mob/video.png 1x, ./images/mob2x/video@2x.png 2x"
          media="(max-width: 767px)"
        />
        <img
          src="./images/mob/video.png"
          alt="recipe"
          width="614"
          height="500"
        />
      </picture>
      <div class="recipe-content">
        <h3 class="recipe-content-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="recipe-list">
          <li>
            <p class="recipe-item-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li>
            <p class="recipe-item-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li>
            <p class="recipe-item-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li>
            <p class="recipe-item-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li>
            <p class="recipe-item-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
