.footer {
  background-color: #1e1823;
  padding: 32px 0;
  color: #fff;
}

.footer-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.footer-address {
  font-style: normal;
}

.footer-address-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}

.address-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
  position: relative;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.address-container::after {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  position: absolute;
  height: 1px;
  bottom: -32px;
  left: 0;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: color 250ms linear;
}

.address-link:hover,
.address-link:focus,
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms linear;
}

.menu-subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subscribe-form {
  display: flex;
  gap: 8px;
}
.subscribe-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  width: 207px;
  height: 45px;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: transparent;
  outline: transparent;
  color: #fff;
}

.subscribe-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-input:valid {
  border-color: green;
}

.subscribe-input:invalid {
  border-color: red;
}

.subscribe-input:placeholder-shown {
  border-color: unset;
}

.subscribe-btn {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  background-color: #fd9222;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 50px 0;
  }

  .address-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 74px;
  }

  .footer-text {
    max-width: 300px;
    font-size: 28px;
    line-height: 1.21;
  }

  .address-container::after {
    bottom: -50px;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 16px;
  }

  .footer-nav-item:nth-child(3n),
  .footer-nav-item:nth-child(4n) {
    display: none;
  }

  .menu-subscribe-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .subscribe-input {
    padding: 14px 24px;
    width: 233px;
  }

  .subscribe-btn {
    width: 128px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav-list {
    gap: 24px;
  }

  .subscribe-input {
    padding: 13px 24px;
    width: 313px;
    height: 52px;
  }

  .subscribe-btn {
    width: 137px;
    height: 52px;
  }
}
