.ingridients {
  padding: 60px 0;
}

.ingridients-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 283px;
}
.title-span {
  color: #fd9222;
}
.ingridients-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 32px;
}
.ingridients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ingridients-list-item {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  height: 270px;
}

.ingridients-list-item:first-child .ingridients-wrapper {
  background-color: #fd9222;
  color: #fff;
}

.ingridients-list-item:nth-child(3n) .ingridients-wrapper {
  background-color: #1e1823;
  border-color: transparent;
  color: #fff;
}

.ingridients-img {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.ingridients-wrapper {
  padding: 27px;
  border: 1px solid #fd9222;
  border-radius: 15px;
}

.card {
  position: absolute;
  padding: 28px;
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.ingridients-list-item:hover .card {
  transform: translateY(0);
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.card-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.ingridients-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .ingridients {
    padding: 80px 0;
  }
  .ingridients-title {
    font-size: 24px;
    line-height: 1.17;
    max-width: 411px;
    margin-bottom: 28px;
  }

  .ingridients-text {
    margin-bottom: 50px;
    max-width: 486px;
    margin-left: auto;
    margin-right: auto;
  }

  .ingridients-list {
    max-height: 572px;
    flex-wrap: wrap;
    gap: 32px;
  }

  .ingridients-list-item {
    width: calc((100% - 32px) / 2);
  }

  .ingridients-list-item:nth-child(3n) {
    transform: translateY(302px);
  }

  .ingridients-list-item:last-child {
    transform: translateY(-302px);
  }
}

@media screen and (min-width: 1200px) {
  .ingridients {
    padding: 100px 0;
  }

  .ingridients-list {
    flex-direction: row;
    gap: 19px;
  }

  .ingridients-list-item {
    width: calc((100% - 19px * 3) / 4);
  }

  .ingridients-list-item:last-child,
  .ingridients-list-item:nth-child(3n) {
    transform: unset;
  }

  .ingridients-img {
    width: 206px;
    height: 160px;
    margin-bottom: 36px;
  }

  .card {
    overflow: auto;
  }
}
